$main-background: #0B0B0F;
$main-gradient: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
$gray-blue: #898CA9;
$box-background: #1A1B23;
$link-color: #B982FF;
$main-font: 'Inter', sans-serif;
