@import './variables';
@import './margins';

* {
    font-family: $main-font;
}

input {
    background-color: inherit;
    border: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: $main-background;
}

p, h2, h4 {
    margin: 0;
}

a, a:visited, a:hover{
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    object-fit: cover;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.hero-list {
    width: $thick;
    font-style: normal;
    font-weight: $bold;
    font-size: $regular-font-size;
    line-height: 100%;
    margin-top: 32px;
    min-width: 400px;
}

.site-content {
    width: 1180px;
    margin: 0 auto;
}

.hollow-button {
    background-color: inherit;
    border: solid 1px #fff;
}

.button-gradient {
    border: none;
    background: $main-gradient;
}

.text-center {
    text-align: center;
}

.button-font {
    font-weight: $bold;
    font-size: $link-font-size;
}

.white-text {
    color: #FFFFFF;
    line-height: 100%;
    font-style: normal;
}

.title-font {
    font-size: $title-size;
    line-height: 130%;
    word-spacing: 10px;
}

.hero-text-content {
    margin-top: 225px;
    width: 780px;
}

.greyish-blue {
    color: $gray-blue;
    font-style: normal;
}

.gradient-text {
    background-clip: text;
    background: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.twin-hero-buttons {
    width: 360px;
}

.standard-button {
    border-radius: 10px;
    padding: 18px 32px;
}

.just-flex{
    display: flex;
}

.hero-icons {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    gap: 60px 70px;
}

.hero-bottom-bar {
    margin: 70px 0;
}

.hero-bottom-left-icon {
    margin-left: 30%;
}

.hero-bottom-right-icon {
    float: right;
}

.tile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.flex-collumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-item-center {
    align-self: center;
}

.paragraph-style {
    font-weight: $thick;
    font-size: $link-font-size;
    line-height: 150%;
    max-width: 580px;
}


.tile-link-box {
    margin-top: 30px;
}

.link-font {
    font-weight: $bold;
    font-size: $link-font-size;
    line-height: 100%;
    color: $link-color;
    margin-right: 6px;
}

.outside-icon-left {
    position: relative;
    right: 57px;
    bottom: 20px;
}

.fluff-icon {
    padding: 7px 57px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.smaller-title{
    font-size: $small-title-size;
}

.outside-icon-right {
    position: relative;
    bottom: 264px;
    left: 92%;
}

.subsection-left-img {
    padding: 20px 200px 0 0;
    align-self: baseline;
}

.left-align-txt {
    text-align: left;
}

.bottom-spacing {
    margin-bottom: 200px;
}

.subsection-link-box {
    margin-bottom: 100px;
}

.subsection-flex {
    margin: 40px 0 0 50px;
    width: 690px;
    align-self: baseline;
}

.input-box {
    background: $main-background;
    min-width: 260px;
    padding: 17px 20px;
    position: relative;
    background-clip: padding-box;
    border-radius: 10px;
    border: 1px solid transparent;
}

.input-box::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: $main-gradient;
    content: '';
    z-index: -1;
    border-radius: 10px;
}

.smaller-para {
    font-style: normal;
    font-weight: $thick;
    font-size: $regular-font-size;
    line-height: 150%;
}

.align-baseline {
    align-self: center;
}

.site-break {
    border-bottom: 1px solid $box-background;
    margin-bottom: 20px;
}

.gray-text {
    color: #fff; 
    opacity: 0.3;
}

.footer-para {
    margin: 50px 0 30px 0;
    font-weight: $thin;
    font-size: 14px;
    line-height: 150%;
}

.footer-left-content{
    max-width: 380px;
}

.footer-input-size {
    width: 305px;
    margin-bottom: 25px; 
}

.tiny-text {
    font-size: $tiny-font-size;
}

.footer-list {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0 0 0;
}

