.input-fluff-box h2 {
  margin-bottom: 18px;
}
.input-fluff-box p {
  margin-bottom: 32px;
}

.hero-text-content p {
  margin-bottom: 29px;
}

.link-tile {
  background-color: #1A1B23;
  border-radius: 15px;
  padding: 32px 24px;
  margin-bottom: 5px;
}
.link-tile img {
  align-self: center;
}
.link-tile h3 {
  margin: 16px 0 10px 0;
  font-size: 32px;
  font-weight: 800;
  line-height: 130%;
}
.link-tile p {
  width: 300px;
  line-height: 160%;
}

.subsection-center-content {
  width: 750px;
  margin: 0 auto;
}
.subsection-center-content p {
  margin-top: 16px;
  width: 580px;
  margin-bottom: 32px;
}
.subsection-center-content h2 {
  margin: 34px 0 20px 0;
}

.para-subsection-box p {
  width: 580px;
  margin-bottom: 32px;
  margin-top: 40px;
}

.subsection-left-container {
  width: 650px;
}
.subsection-left-container p {
  margin: 18px 0 30px 0;
  line-height: 24px;
}

.subsection-organizer h2 {
  margin-bottom: 20px;
}
.subsection-organizer a {
  margin-top: 32px;
  margin-right: auto;
  margin-bottom: 275px;
}

.site-bottom {
  margin-bottom: 120px;
}

.subsection-input-spacing {
  margin-bottom: 120px;
}

.footer-logo {
  margin-right: 40px;
}

.para-subsection-image {
  margin-bottom: 300px;
}

.navigation-side-content {
  min-width: 200px;
  max-height: 40px;
  margin-top: 20px;
  align-items: center;
  box-sizing: border-box;
}
.navigation-side-content button {
  padding: 10px 18px;
  border-radius: 10px;
}

* {
  font-family: "Inter", sans-serif;
}

input {
  background-color: inherit;
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #0B0B0F;
}

p, h2, h4 {
  margin: 0;
}

a, a:visited, a:hover {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.hero-list {
  width: 400;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  margin-top: 32px;
  min-width: 400px;
}

.site-content {
  width: 1180px;
  margin: 0 auto;
}

.hollow-button {
  background-color: inherit;
  border: solid 1px #fff;
}

.button-gradient {
  border: none;
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
}

.text-center {
  text-align: center;
}

.button-font {
  font-weight: 600;
  font-size: 16px;
}

.white-text {
  color: #FFFFFF;
  line-height: 100%;
  font-style: normal;
}

.title-font {
  font-size: 64px;
  line-height: 130%;
  word-spacing: 10px;
}

.hero-text-content {
  margin-top: 225px;
  width: 780px;
}

.greyish-blue {
  color: #898CA9;
  font-style: normal;
}

.gradient-text {
  background-clip: text;
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.twin-hero-buttons {
  width: 360px;
}

.standard-button {
  border-radius: 10px;
  padding: 18px 32px;
}

.just-flex {
  display: flex;
}

.hero-icons {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  gap: 60px 70px;
}

.hero-bottom-bar {
  margin: 70px 0;
}

.hero-bottom-left-icon {
  margin-left: 30%;
}

.hero-bottom-right-icon {
  float: right;
}

.tile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flex-collumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align-item-center {
  align-self: center;
}

.paragraph-style {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 580px;
}

.tile-link-box {
  margin-top: 30px;
}

.link-font {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #B982FF;
  margin-right: 6px;
}

.outside-icon-left {
  position: relative;
  right: 57px;
  bottom: 20px;
}

.fluff-icon {
  padding: 7px 57px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smaller-title {
  font-size: 50px;
}

.outside-icon-right {
  position: relative;
  bottom: 264px;
  left: 92%;
}

.subsection-left-img {
  padding: 20px 200px 0 0;
  align-self: baseline;
}

.left-align-txt {
  text-align: left;
}

.bottom-spacing {
  margin-bottom: 200px;
}

.subsection-link-box {
  margin-bottom: 100px;
}

.subsection-flex {
  margin: 40px 0 0 50px;
  width: 690px;
  align-self: baseline;
}

.input-box {
  background: #0B0B0F;
  min-width: 260px;
  padding: 17px 20px;
  position: relative;
  background-clip: padding-box;
  border-radius: 10px;
  border: 1px solid transparent;
}

.input-box::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  content: "";
  z-index: -1;
  border-radius: 10px;
}

.smaller-para {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.align-baseline {
  align-self: center;
}

.site-break {
  border-bottom: 1px solid #1A1B23;
  margin-bottom: 20px;
}

.gray-text {
  color: #fff;
  opacity: 0.3;
}

.footer-para {
  margin: 50px 0 30px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}

.footer-left-content {
  max-width: 380px;
}

.footer-input-size {
  width: 305px;
  margin-bottom: 25px;
}

.tiny-text {
  font-size: 12px;
}

.footer-list {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px 0 0 0;
}/*# sourceMappingURL=styles.css.map */